.main {
  background-color: #2b2d31;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.server {
  display: flex;
  flex-direction: row;
  width: 240px;
  height: 48px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 3px rgba(19, 21, 24, 0.8);
}
.server_name {
  position: relative;
  left: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.channel {
  position: relative;
  width: 200px;
  padding-top: 20px;
  left: 20px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff96;
  font-size: 11pt;
  cursor: pointer;
}

.channel:hover {
  color: #fff;
}

.channel_buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45px;
}

.channel_buttons > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
}

.profileBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 53px;
  width: 240px;
  background-color: #232528;
  padding: 15px;
}

.profileButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userImage {
  width: 33px;
  border-radius: 50%;
}

.userName {
  color: white;
  padding: 6%;
}
