#selected {
  background-color: red;
}

.main {
  background-color: #151b27;
  /* background-color: #2b2d31; */
  min-width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.server {
  display: flex;
  flex-direction: row;
  min-width: 240px;
  min-height: 48px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 3px rgba(19, 21, 24, 0.8);
}
.server_name {
  font-family: "Alexandria";
  position: relative;
  left: 10px;
}

.menu_button {
}

.list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.channel_list {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 10px;
  padding-top: 20px;
  width: 225px;
  cursor: pointer;
  color: #ffffff96;
  font-size: 11pt;
}

.channel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 214px;
}
.channel:hover {
  color: #fff;
}

.selected_channel {
  width: 214px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #212b3d;
  /* background-color: #383a40; */
  border-radius: 5px;
}
.selected_channel:hover {
  color: #fff;
}

.channel_name {
  width: 167px;
  padding: 10px;
  display: flex;
}

.channel_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 45px;
}

.channel_buttons > button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 20px;
}

.profileBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 53px;
  width: 240px;

  background-color: #0e141f;
  padding: 15px;
}

.profileButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userImage {
  width: 33px;
  border-radius: 50%;
}

.userName {
  color: white;
  padding: 6%;
}
