.profile_dropdown {
    position: absolute;
    bottom: 53px;
    left: 215px;
    z-index: 7;
    background-color: rgb(137, 33, 33);
    padding: 10px 20px 10px 20px;
  }
  .profile {
    height: 20px;
    width: 55px;
    font-size: small;
  }
  .profile_dropdown:hover {
    background-color: rgb(187, 6, 6);
  }
