.server_dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  top: 58px;
  left:82px;
  z-index: 7;
  width: 220px;
  height: 120px;
  background-color: rgb(18, 18, 18);
  padding: 10px 10px 10px 20px;
  border-radius: 5px;
}

.menu_button{
  position: relative;
  right: 10px;
}
