.reactionsContainer {
  position: relative;
}

.reactions {
  display: none;
}

.message:hover .reactions {
  display: flex;
  gap: 8px;
}

.active {
  font-weight: bold;
  color: blue;
}

.reaction_list {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 10px;
}

#reaction_button {
  border: 1px solid rgb(30, 143, 191);
  background-color: #151b27;
  position: relative;
  left: 10px;
  border-radius: 5px;
  padding-right: 3px;
  padding-bottom: 3px;
}

.hide {
  display: none;
}
