.page {
  display: flex;
  height: 100vh;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.modal {
  border-radius: 10px;
}

.greeting {
  font-family: "Alexandria";
  width: 100vw;
  height: 100vh;
  display: flex;
  animation: fadeIn 6s;
  -webkit-animation: fadeIn 6s;
  -moz-animation: fadeIn 6s;
  -o-animation: fadeIn 6s;
  -ms-animation: fadeIn 6s;
}

.left {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
  background: radial-gradient(
    circle at 115%,
    #161d34,
    #0a0e15 50%,
    #1b2546 75%,
    #1b2546 65%
  );
  box-shadow: inset -2px 2px 7px 0 #3e3e61;
}

.welcome {
  font-size: 20pt;
  color: rgb(154, 153, 151) e;
}

.title {
  font-size: 65pt;
  color: rgb(104, 130, 187);
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 2px 2px 7px 0 #3e3e61;
  height: 100vh;
  width: 50vw;
  background-color: #0a0e15;
  border-left: solid 5px black;
}

.login {
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  width: 300px;
  height: 80px;
  background-color: rgb(104, 130, 187);
  position: relative;
  bottom: 40px;
}

.signup {
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  position: relative;
  top: 40px;
  transition: all 0.2s ease-in-out;
  width: 300px;
  height: 80px;
  background-color: rgb(104, 130, 187);
}
.login:hover {
  width: 340px;
  height: 110px;
  background-color: #1b2546;
}
.signup:hover {
  width: 340px;
  height: 110px;
  background-color: #1b2546;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
