.directImg {
 padding: 1%;
 margin-left: .5%;
}

.profile {
  position: absolute;
}

.server {
  padding-left: 3%;
  display: flex;
  width: 10vw;
  align-items: center;
  justify-content: flex-start;
}

.channel {
  margin-left: 5%;
  align-items: center;
  justify-content: flex-start;
}

.header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding-right: 2%;
  border: solid 1px rgb(53, 157, 253);
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 50%;
}

.page {
  display: flex;
  height: 90vh;
}

.loading {
  size: 100;
  margin-left: 50%;
  margin-top: 25%;
}
