.main {
  width: 5vw;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: solid 1px rgb(53, 157, 253);
}

.button {
  height: 15fr;
  padding: 15%;
  display: flex;
}

.image {
  height: 100%;
  width: 100%;
  border-radius: 45%;
}

.create {
  display: flex;
  align-items: center;
  justify-content: center;
}
