.main {
  width: 72px;
}

.list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #1e1f22;
}

.button {
  height: 15fr;
  padding: 15%;
  display: flex;
}

.image {
  width: 50px;
  border-radius: 50px;
}

.create {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hyper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 72px;
  padding: 4px;
  background-color: #1e1f22;
}
