.main {
  width: 72px;
}

.list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #1e1f22;
}

.selected {
  box-shadow: inset 2px 0 0.5px 0 #4f4f4f;
}

.button {
  height: 15fr;
  padding: 15%;
  display: flex;
}

.image {
  width: 50px;
  border-radius: 50px;
}
.image:hover {
  outline: thick solid rgb(67, 71, 83);
}

.create {
  display: flex;
  align-items: center;
  justify-content: center;
}
.create:hover {
  color: rgb(55, 113, 38);
}

.hyper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 72px;
  padding-right: 5px;
  background-color: #1e1f22;
}
