.main {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.list {
  padding: 2%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 5px;
  border: solid 1px rgb(53, 157, 253);
}

.message {
  padding-top: 2%;
}

.form {
  padding-right: 1%;
}
.input {
  width: 85%;
  height: 60%;
}
.submit {
  border-radius: 5px;
  border: solid 1px rgb(53, 157, 253);
  width: 15%;
  padding: 1%;
}
.userImage {
  width: 3%;
  height: 25%;
  border-radius: 50%;
}
