.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  background-color: #1a2333;
}

.channel {
  font-family: "Alexandria";
  font-size: 15pt;
  position: relative;
  min-height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  justify-content: flex-start;
  padding-left: 3%;
  box-shadow: 1px 1px 3px rgba(19, 21, 24, 0.8);
}

.body {
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.scroll {
  max-width: 100%;
  padding-top: 25px;
  overflow-y: auto;
  scrollbar-color: #0a0e15 #1a2333;
  scrollbar-width: thin;
}

.message_list {
  position: relative;
  max-width: 97%;
  max-height: 98%;
  min-width: 0;
  min-height: 0;
  left: 10px;
  bottom: 5px;
}

.left {
  display: flex;
  align-items: flex-start;
  max-height: 50%;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  width: 100%;
  max-height: 50%;
  min-height: 100px;
}

.user_info {
  width: 100%;
}

.message_body {
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  min-height: 70px;
  max-height: 150px;
  left: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 3px;
  animation: fadeIn 0.7s;
  -webkit-animation: fadeIn 0.7s;
  -moz-animation: fadeIn 0.7s;
  -o-animation: fadeIn 0.7s;
  -ms-animation: fadeIn 0.7s;
}

.message_body:hover {
  background-color: #212b3d;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 120px;
}

.user_image {
  width: 38px;
  border-radius: 50px;
}

.user_name {
  max-width: 100%;
  position: relative;
  left: 10px;
  color: white;
}

.reaction_buttons{
  position: absolute;
  top:-15px;
  z-index: 1;
}

.message_actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 15%;
}

.message_actions > div {
  padding: 3px;
  display: none;
}

.message_body:hover .message_actions > div {
  display: block;
}

.message {
  word-wrap: break-word;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  left: 10px;
  top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-wrap: break-word;
  overflow-y: auto;
}

.message_info {
  max-width: 100%;
  word-wrap: break-word;
  overflow: visible;
}

.message_text {
  font-size: 10.5pt;
  color: #ffffff96;
  max-width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding-bottom: 20px;
}
.input {
  width: 97%;
  left: 20px;
  height: 47px;
  padding-left: 10px;
  border: none;
  border-radius: 7px;
  background-color: #212b3d;
  position: relative;
}
.error {
  padding-top: 2px;
  display: flex;
  height: 15px;
  color: rgba(251, 72, 72, 0.884);
}
.edit_form {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;

}

.message_edit {
  height: 30px;
  width: 85%;
  border: none;
  border-radius: 4px;
  background-color: #0e141f;
  color: white;
}

.message_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.save_edit {
  background-color: rgb(57, 71, 36);
  width: 60px;
  height: 25px;
  font-size: small;
}

.save_edit:hover {
  background-color: rgb(55, 113, 38);
}

.stop_edit {
  background-color: rgb(137, 33, 33);
  width: 60px;
  height: 25px;
  font-size: small;
}

.stop_edit:hover {
  background-color: rgb(187, 6, 6);
}

.no_messages {
  padding-left: 40%;
  padding-bottom: 30%;
  color: #ffffff96;
}


/*
FADE-IN ANIMATIONS !!!!!!!!!!!
*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
