.main {
  font-family: 'Alexandria';
  width: 480px;
  height: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #0a0e15;
  border-radius: 10px;
}

.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.title {
  height: 100%;
  width: 62%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: larger;
}

.close {
  width: 25px;
  display: flex;
  padding-top: 10px;
}

.form {
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.email {
  background-color: #313338;
  border: none;
  height: 50px;
  width: 370px;
  border-radius: 5px;
  padding-left: 10px;
}
.password {
  padding-left: 10px;
  background-color: #313338;
  border: none;
  height: 50px;
  width: 370px;
  border-radius: 5px;
}

.errors {
  font-size: 10pt;
  padding-top: 10px;
  width: 350px;
  height: 25px;
  color: rgba(251, 72, 72, 0.884);
}

.login {
  position: relative;
  margin-bottom: 30px;
  width: 210px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(65, 81, 41);
  transition: all 0.2s ease-in-out;
}

.login:hover {
  background-color: rgb(90, 147, 72);
}

.demo {
  transition: all 0.2s ease-in-out;
  position: relative;
  bottom: 10px;
}

.demo:hover {
  color: rgb(104, 130, 187);
}

input {
  color: #fff;
}
