.main {
  width: 480px;
  height: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(35, 34, 34);
}

.title {
  height: 160px;
  display: flex;
  align-items: center;
  font-size: larger;
}

.form {
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.email {
  background-color: #313338;
  border: none;
  height: 50px;
  width: 370px;
  border-radius: 5px;
  padding-left: 10px;
}
.password {
  padding-left: 10px;
  background-color: #313338;
  border: none;
  height: 50px;
  width: 370px;
  border-radius: 5px;
}

.errors {
  padding-top: 10px;
  width: 350px;
  height: 70px;
  color: rgba(251, 72, 72, 0.884)
}

.buttons {
  width: 440px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login {
  width: 210px;
  height: 40px;
  background-color: rgb(57, 71, 36);
}
.login:hover {
  background-color: rgb(55, 113, 38);
}

.cancel {
  width: 210px;
  height: 40px;
  background-color: rgb(137, 33, 33);
}


.cancel:hover {
  background-color: rgb(187, 6, 6);
}

input {
  color: #fff;
}
