.main {
  width: 400px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #080b10;
}

.title {
  padding-top: 20px;
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  width: 380px;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 30px;
  bottom: 10px;
}

.yes {
  border-radius: 10px;
  background-color: rgb(57, 71, 36);
  width: 180px;
}
.yes:hover {
  background-color: rgb(83, 113, 38);
}

.no {
  border-radius: 10px;
  background-color: rgb(137, 33, 33);
  width: 180px;
}

.no:hover {
  background-color: rgb(187, 6, 6);
}
