/* TODO: Add sitewide styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  padding-left: 1%;
  padding-right: 1%;
  background-color: #1E1F22;
  color: #fff;
}

body {
  font-family: "Montserrat", Inter, Arial, Helvetica, sans-serif;

}


a {
  text-decoration: none;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
