/* TODO: Add sitewide styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", Inter, Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #FBFBFB;
    margin: 0 auto;
    font-size: 18px;
}

h1 {
    color: #080849;
}

h2 {
    color: #656d79;
}

a {
    text-decoration: none;
    color: #4D4D4D;
    margin-bottom: 1em;
}

ul {
    list-style-type: none;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

textarea {
    font-family: inherit;
}

.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
