.main {
  font-family: "Alexandria";
  width: 480px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: #080b10;
}

.title {
  height: 35%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 350px;
  height: 20px;
  color: rgba(251, 72, 72, 0.884);
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.name_form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.image_form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.input {
  padding: 10px;
  color: #fff;
  border: none;
  background-color: #212b3d;
  position: relative;
  height: 40px;
  width: 370px;
  border-radius: 5px;
}

.submit {
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgb(57, 71, 36);
  width: 180px;
  height: 40px;
  transition: all 0.2s ease-in-out;
}
.submit:hover {
  background-color: rgb(83, 113, 38);
  border-radius: 5px;
}
