.main {
  font-family: "Alexandria";
  width: 400px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #080b10;
}

.title {
  padding-top: 20px;
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 350px;
  height: 20px;
  color: rgba(251, 72, 72, 0.884);
}

.form {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 70px;
  bottom: 10px;
}

.input {
  padding: 5px;
  border: none;
  background-color: #212b3d;
  border-radius: 5px;
}

.submit {
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgb(57, 71, 36);
  width: 180px;
  height: 40px;
  transition: all 0.2s ease-in-out;
}
.submit:hover {
  background-color: rgb(83, 113, 38);
  border-radius: 5px;
}
